*{
    box-sizing: border-box;
}


.container-fluid{
    width: 100%;
    display: block;
}

.container{
    max-width: 114rem;
    display: block;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1-of-1{
    width: 100%;
}

.col-1-of-2{
    width: calc(100%/2);
}

.col-1-of-3{
    width: calc(100%/3);
}

.col-1-of-4{
    width: calc(100%/4);
}

.col-1-of-5{
    width: calc(100%/5);
}

.col-1-of-6{
    width: calc(100%/6);
}

.col-1-of-7{
    width: calc(100%/7);
}

.col-1-of-8{
    width: calc(100%/8);
}

.col-1-of-9{
    width: calc(100%/9);
}

.col-1-of-10{
    width: calc(100%/10);
}

.col-1-of-11{
    width: calc(100%/11);
}

.col-1-of-12{
    width: calc(100%/12);
}

@media (max-width: 600px) {
    .col-1-sm-1{
        width: 100%;
    }
    
    .col-1-sm-2{
        width: calc(100%/2);
    }
    
    .col-1-sm-3{
        width: calc(100%/3);
    }
    
    .col-1-sm-4{
        width: calc(100%/4);
    }
    
    .col-1-sm-5{
        width: calc(100%/5);
    }
    
    .col-1-sm-6{
        width: calc(100%/6);
    }
    
    .col-1-sm-7{
        width: calc(100%/7);
    }
    
    .col-1-sm-8{
        width: calc(100%/8);
    }
    
    .col-1-sm-9{
        width: calc(100%/9);
    }
    
    .col-1-sm-10{
        width: calc(100%/10);
    }
    
    .col-1-sm-11{
        width: calc(100%/11);
    }
    
    .col-1-sm-12{
        width: calc(100%/12);
    }
  }

  @media (min-width:1366px) {
    .col-1-lg-1{
        width: 100%;
    }
    
    .col-1-lg-2{
        width: calc(100%/2);
    }
    
    .col-1-lg-3{
        width: calc(100%/3);
    }
    
    .col-1-lg-4{
        width: calc(100%/4);
    }
    
    .col-1-lg-5{
        width: calc(100%/5);
    }
    
    .col-1-lg-6{
        width: calc(100%/6);
    }
    
    .col-1-lg-7{
        width: calc(100%/7);
    }
    
    .col-1-lg-8{
        width: calc(100%/8);
    }
    
    .col-1-lg-9{
        width: calc(100%/9);
    }
    
    .col-1-lg-10{
        width: calc(100%/10);
    }
    
    .col-1-lg-11{
        width: calc(100%/11);
    }
    
    .col-1-lg-12{
        width: calc(100%/12);
    }
}

  @media (max-width:800px) and (min-width:600px) {
    .col-1-t1-1{
        width: 100%;
    }
    
    .col-1-t1-2{
        width: calc(100%/2);
    }
    
    .col-1-t1-3{
        width: calc(100%/3);
    }
    
    .col-1-t1-4{
        width: calc(100%/4);
    }
    
    .col-1-t1-5{
        width: calc(100%/5);
    }
    
    .col-1-t1-6{
        width: calc(100%/6);
    }
    
    .col-1-t1-7{
        width: calc(100%/7);
    }
    
    .col-1-t1-8{
        width: calc(100%/8);
    }
    
    .col-1-t1-9{
        width: calc(100%/9);
    }
    
    .col-1-t1-10{
        width: calc(100%/10);
    }
    
    .col-1-t1-11{
        width: calc(100%/11);
    }
    
    .col-1-t1-12{
        width: calc(100%/12);
    }
}
@media (max-width:1366px) and (min-width:800px) {
    
    .col-1-md-1{
        width: 100%;
    }
    
    .col-1-md-2{
        width: calc(100%/2);
    }
    
    .col-1-md-3{
        width: calc(100%/3);
    }
    
    .col-1-md-4{
        width: calc(100%/4);
    }
    
    .col-1-md-5{
        width: calc(100%/5);
    }
    
    .col-1-md-6{
        width: calc(100%/6);
    }
    
    .col-1-md-7{
        width: calc(100%/7);
    }
    
    .col-1-md-8{
        width: calc(100%/8);
    }
    
    .col-1-md-9{
        width: calc(100%/9);
    }
    
    .col-1-md-10{
        width: calc(100%/10);
    }
    
    .col-1-md-11{
        width: calc(100%/11);
    }
    
    .col-1-md-12{
        width: calc(100%/12);
    }
}





