body {
  padding: 0;
  margin: 0;
}


.parent {
  border: 2px solid #6372ff;
  margin: 32px;
  padding: 32px;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

nav {
  background: white;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  padding: 16px 32px;
}

.container {
  width: 90%;
  padding: 32px;
  margin-left: 5%;
  margin-right: 5%;
}

.header-container {
  display: block;
  margin: auto;
  padding: 32px;
}

a {
  text-decoration: none;
  outline: none;
}

.nav-header {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding-right: 16px;
  padding-top: 2px;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
}

nav ul li a,
.nav-header {
  text-transform: uppercase;
  color: black;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease-in;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.header {
  background: url(img/intro-bg.jpg) center center no-repeat;
  background-size: cover;
  background-color: #e5e5e5;
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-content {
  text-align: center;
}

.header-header {
  font-family: "Raleway", sans-serif;
  font-size: 82px;
  font-weight: 700;
  margin-bottom: 8px;
}

.header-header,
.header-paragraph {
  text-transform: uppercase;
  color: white;
  text-shadow: 0.5px 0.5px 0.5px black;
}

.header-paragraph {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  padding: 0px 200px;
}

.header-link {
  display: inline-block;
  padding: 14px 32px;
  font-family: "Raleway", sans-serif;
  margin: 12px;
  font-size: 15px;
  font-weight: 100;
  border-radius: 25px;
  background-color: #5ca9fb;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  border: 0;
  color: white;
  text-transform: uppercase;
}

.features {
  background: #f6f6f6;
  padding-top: 64px;
  padding-bottom: 64px;
}

.container {
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
}

.features-header {
  display: block;
  margin-top: 0px;
  text-align: center;
}

.features-card h3 {
  margin-top: 32px;
  margin-bottom: 12px;
}

.features-header::after {
  content: "";
  display: block;
  margin: auto;
  width: 64px;
  height: 4px;
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
}

.features-card-group {
  display: flex;
  justify-content: space-between;
  margin: 64px 0;
}

.features-card {
  text-align: center;
}

.features-card i {
  display: block;
  margin: auto;
  font-size: 38px;
  width: 100px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

.content {
  display: flex;
  justify-content: space-between;
}

.about-us_content_image,
.about-us_content_description {
  flex: 50%;
}
.about-us_content_description {
  padding-left: 32px;
}
.information {
  color: gray;
}
.about-us_content_image {
  padding-right: 32px;
}
.about-us_content_image img {
  border-radius: 5px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
}

.title {
  margin: 0px;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
}

.title::after {
  content: "";
  display: block;
  width: 64px;
  margin: 0 auto;
  height: 4px;
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
}

h5 {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  margin-top: 32px;
  margin-bottom: 0px;
}

.half-column {
  flex: 50%;
}

.half-column ul {
  padding: 0 8px;
}

.half-column ul li {
  color: #5ca9fb;
  display: block;
  padding: 4px;
  font-size: 12px;
}

.half-column ul li span {
  padding: 0 4px;
  color: gray;
  font-weight: 0px;
}

.about-us_image {
  padding-right: 32px;
}

.img {
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
}

.about-us_info {
  padding: 0 32px;
}

.services {
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
}

.text-center {
  text-align: center;
}

.title-left {
  margin: 0px;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
}
.title-left::after {
  content: "";
  display: block;
  width: 64px;
  margin: 0;
  height: 4px;
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
}

.services_description {
  color: rgba(255, 255, 255, 0.75);
}

.title-white {
  color: white;
}
.title-white::after {
  background: rgba(255, 255, 255, 0.3);
}

.gallery_description {
  color: gray;
  margin-bottom: 32px;
}

.services .col4 {
  padding: 16px;
}
.services .col4 i {
  display: block;
  margin: auto;
  font-size: 42px;
  width: 120px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  padding: 40px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

.service_title,
.service_description {
  color: white;
}
.gallery_image_card {
  position: relative;
  padding: 1px;
}
.gallery_image {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.gallery_card {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    rgba(99, 114, 255, 0.8) 0%,
    rgba(92, 169, 251, 0.8) 100%
  );
  opacity: 0;
  transition: opacity 1s;
}

.gallery_card:hover {
  opacity: 0.8;
}

.gallery_card p {
  font-family: sans-serif;
  margin: 0;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.clients {
  background: #f6f6f6;
  padding: 32px 0px;
}

.row_clients {
  margin-top: 32px;
}

.clients_card {
  display: flex;
  padding: 0 16px;
  margin-top: 32px;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.info {
  padding-left: 16px;
}

.quote {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  margin: 0;
}
.quote::after,
.quote::before {
  content: '"';
}

.client_name {
  font-family: fantasy;
}

@media screen and (max-width: 800px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 61px;
    width: 50%;
    opacity: 0;
    position: absolute;
    right: 0;
    background-color: gray;
    transition: opacity 0.5s ease-in;
  }
  nav ul li {
    margin: 16px 0;
  }
  .burger {
    display: block;
  }
  .nav-active {
    opacity: 1;
  }

  nav ul li a {
    color: white;
  }
}
